.main-nav__list {
  position: relative;
  z-index: 1;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    min-width: 440px;
    max-width: 470px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 33px;
    row-gap: 5px;
  }

  @media (min-width: @desctop-width) {
    min-width: 480px;
    max-width: 800px;

    &--white-width {
      max-width: 480px;
    }
  }
}

.main-nav__item {
  padding: 17px 20px 19px 20px;
  border-top: 1px @hr2-gray solid;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    min-width: 100%;
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    min-width: auto;
    max-width: auto;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: 767px) {
    position: absolute;
    background-color: @white;
    min-width: @mobile-width;
    max-width: @mobile-width;
    margin: 0 auto;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: 767px) {
    display: flex;
    position: static;
  }
}

.main-nav--nojs .main-nav__item {
  @media (max-width: 767px) {
    display: flex;
  }
}

.main-nav__link {
  .link-null();
  .title();
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 5px 0;
  flex-wrap: wrap;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    //АЛЬТЕРНАТИВНЫЙ ВАРИАНТ (по стайлгайду не совсем понятно, там написано "Main menu down" (с opacity 0.3) и "Main menu active" (тот, что закомментил)
    //поэтому сначала я сделал active закомменченый, а потом предположил, что диз имел ввиду на клик св-ва "Down", а на active просто визуал как на стр. на которой находимся.
    //    opacity: 1;
    //border-bottom: 2px @primary-green solid;
  }

  @media (max-width: 767px) {
    display: flex;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0;
    justify-content: flex-start;

    &--current {
      border-bottom: 2px @primary-green solid;
    }
  }

  @media (min-width: @desctop-width) {
    font-size: 20px;
    line-height: normal;

    &--white {
      color: @white;
      border-color: @white;

      //также альтернативный вариант на ввсякий случай, в зависимости от того, чего хотел дизайнер.
      //&:active {
      //  border-bottom: 2px @white solid;
      //}
    }
  }
}
